 .container {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   width: 100%;
   padding-right: calc(var(--bs-gutter-x) * 0.5);
   padding-left: calc(var(--bs-gutter-x) * 0.5);
   margin-right: auto !important;
   margin-left: auto !important;
 }

 @media (min-width: 768px) {
   .container {
     max-width: 720px;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 30px;
   }


   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(1, 1fr);
     gap: 70px;
   }

   
   .popup-card-wrapper {
    display: grid;
    grid-template-columns: 20% 18%;
    gap: 90px;
  }
 }



 @media (min-width: 992px) {
   .container {
     max-width: 960px;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 40px;
   }

   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(2, 1fr);
     gap: 80px;
   }

   

   .popup-card-wrapper {
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 90px;
  }
 }

 @media (min-width: 1200px) {
   .container {
     max-width: 1140px;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 80px;
   }


   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(2, 1fr);
     gap: 80px;
   }

   
   .popup-card-wrapper {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 90px;
  }
 }

 @media (min-width: 1400px) {
   .container {
     max-width: 1300px;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 80px;
   }

   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(2, 1fr);
     gap: 90px;
   }

   .popup-card-wrapper {
    display: grid;
    grid-template-columns: 25% 25%;
    gap: 90px;
  }
 }

 @media (min-width: 1600px) {
   .container {
     max-width: 1500px;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 30px;
   }


   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(3, 1fr);
     gap: 100px;
   }

   
.popup-card-wrapper {
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 90px;
}

 }

 @media (min-width: 1800px) {
   .container {
     max-width: 1750px;
   }

   .d-xl-block {
     display: block;
   }
 }


 @media (max-width: 768px) {
   .container {
     --bs-gutter-x: 1.5rem;
     --bs-gutter-y: 0;
     width: 90%;
     padding-right: calc(var(--bs-gutter-x) * 0.5);
     padding-left: calc(var(--bs-gutter-x) * 0.5);
     margin-right: auto !important;
     margin-left: auto !important;
   }

   .service-card-wrapper.style1 {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 30px;
   }

   .header-1 .header-right .sidebar__toggle {
     color: var(--theme);
   }

   .breadcumb-wrapper .page-heading .title {
     font-size: 46px;
     font-family: "Open Sans", sans-serif;
     color: var(--white);
   }

   .breadcumb-wrapper .page-heading .breadcrumb-items {
     margin-top: 10px;
     font-size: 20px;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
   }

   .header-section-1 {
     overflow: hidden;
   }


   .offer-card-wrapper.style1 {
     grid-template-columns: repeat(1, 1fr);
     gap: 90px;
   }

   .theme-btn.style2 {
     font-size: 30px;
   }

   .theme-btn.style3 {
     font-size: 30px;
   }

   
.popup-card-wrapper{
  display: grid; 
  grid-template-columns: repeat(1,1fr);
  gap: 30px;
}

.checklist ul li {
  gap: 0px;
  margin-top: 5px;
}

.checklist ul li .content  label {
  font-size: 15px;
  color: var(--text);
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.offer-card.style1 .offer-card-header h3 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
}

.offer-card.style1 .offer-card-header .logo img { 
  z-index: 99;
  background: white;
}

.fancy-box.style1 .content .title {
  font-size: 27px;
  font-weight: bold;
}

.fancy-box.style1 .content .text {
  font-size: 16px;
}

.theme-btn.style2 { 
  padding: 15px 30px; 
}
.theme-btn.style3 { 
  padding: 15px 24px; 
}
.service-card.style1 {
  padding: 30px 8px 21px 8px; 
}

 }